.col-sm-12{
	text-align: center;
	font-size:40px;
	font-family: arial;
	color:#ffffff;
	margin-top: 20px;

}

.botaofb,.botaoig,.botaoin{
	width:30px;
	height:30px;
	background:#fff;
	margin-right: 10px;
	margin-top: 10px;
}

.nome,.email,.telefone{
	width: 300px;
	height: 30px;
	margin-bottom:20px;
}

.mensagembox{width:300px; 
	height:120px;
	color:black;
	resize: none;}

.botao{color:#fff;
	background:#1782b6;
	width:80px; 
height:30px;
font-size:20px;
font-family:arial;
border:none;
margin-top: 10px;
margin-left: 100px;
margin-bottom: 10px;
}

	.col-sm-6{color:#fff;
font-family:
}
h3,.contact__p{margin-top: 10px;
font-family:arial;
color:#fff;}


.contact{

background:#00b3d1;}