.perfil {
    color:blueviolet;
    text-align: center;
    
}

.tamanho_img {
     width: 100%
         
}

.dados {
    text-align:left;
    color:blueviolet;
    background-color: 
}

.basico_espaço{
    padding-bottom: 1em;
}

.perfil_espaço {
    padding-bottom: 4em;
    
}

.perfil_espaço2 {
 text-align:left;
    
}

.teste_espaço {
    padding-bottom: 4em;
    text-align:right;
}
        
        