.pagination > .active > a
{
    color: white;
    background-color: #17a2b8 !Important;
    border: solid 1px #17a2b8 !Important;
}

table {
    border-collapse: collapse;
}

tr:nth-child(n + 6) {
    visibility: hidden;
}

.category_block li:hover {
    background-color: #17a2b8;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}

.container {
    margin: 5px;
}
.item-price {
	font-size: 15px;
	padding: 2px 0;
}
.item-price strike {
	color: #999;
}
.item-price span {
	color: #86bd57;
	font-size: 110%;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
    padding-top: 2em;    
}